[Desktop Entry]
Encoding=UTF-8
Name=DINOCOIN
Comment=DINOCOIN P2P Cryptocurrency
Comment[fr]=DINOCOIN, monnaie virtuelle cryptographique pair à pair
Comment[tr]=DINOCOIN, eşten eşe kriptografik sanal para birimi
Exec=dinocoin-qt %u
Terminal=false
Type=Application
Icon=dinocoin128
MimeType=x-scheme-handler/dinocoin;
Categories=Office;Finance;
